.form-task {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.form-task__add {
  width: 100%;
  outline: 0;
  border: 2px solid #f4f4f4;
  padding: 16px 24px;
}

.form-task__add::placeholder,
.form-task__add {
  font-size: 18px;
  font-weight: 500;
}

.form-task__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #787878;

  background-color: transparent;
  border: 0;
}
