:host {
  width: 15%;
  min-width: 150px;
  min-height: calc(100vh - 60px);
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f4f4f4;
  border-radius: 16px;
  height: 100%;
  padding: 40px 30px;
}

.navigation__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.navigation__category {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin-bottom: 10px;
}

.navigation__menus ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.navigation__menus li,
.navigation__settings > div {
  padding: 8px;
  transition: background-color 0.5s ease;
  cursor: pointer;
  border-radius: 5px;
}

.navigation__menus li:hover,
.navigation__settings > div:hover {
  background-color: #e8e8e8;
}
